$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.fullWidth {
    input[type=text] {
        width: 95%;
    }
}

tr.selected {
    td {
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;
        font-weight: bold;

        &:last-child {
            border-right: 1px solid blue;
        }
        &:first-child {
            border-left: 1px solid blue;
        }
    }
}
tr.hidden {
    display: none;
}

.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
}