<section>
  <h1>{{ presentation.metadata.title }}</h1>
  <h3>{{ presentation.metadata.presenter }}</h3>
</section>
<section>
  <table class="table fullWidth table-striped table-bordered">
    <thead>
      <tr>
        <th>Original Text</th>
        <th>Translated Text</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in presentation.content.data">
        <td>
          {{ row.original }}
        </td>
        <td>
          {{ row.translated }}
        </td>
      </tr>
    </tbody>
  </table>
</section>